# Ignore general IDE files
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Ignore build outputs and temporary files
/build
/out/
/.next/
*.tsbuildinfo
next-env.d.ts

# Ignore local development files
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env*.local
.vercel

# Ignore dependencies and testing artifacts
/node_modules
/.pnp
.pnp.js
/coverage

# Specific exclusions and inclusions for EZEN_BookStore
/EZEN_BookStore/.gitignore
HELP.md
.gradle

# Backend specific exclusions and inclusions
/EZEN_BookStore/Backend/build/
!/EZEN_BookStore/Backend/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
/EZEN_BookStore/Backend/bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# Frontend specific exclusions and inclusions
/EZEN_BookStore/Frontend/.next/
/EZEN_BookStore/Frontend/out/
