<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.bookstore.product.ProductMapper">
    <insert id="insertProduct" parameterType="com.ezen.bookstore.uitls.ProductJsonDTO">
        INSERT INTO product (id, title, price, publish_date, author, contents_info, sales, publisher, image_url, sub_category_id)
        VALUES (#{id}, #{title}, #{price}, #{publishDate}, #{author}, #{contentsInfo}, #{sales}, #{publisher}, #{imageUrl}, #{sub_category_id})
    </insert>

    <resultMap id="productListMap" type="com.ezen.bookstore.product.ProductListResponse">
        <constructor>
            <idArg column="id" javaType="java.lang.Long"/>
            <arg column="title" javaType="java.lang.String"/>
            <arg column="price" javaType="java.lang.Long"/>
            <arg column="publish_date" javaType="java.time.LocalDate"/>
            <arg column="author" javaType="java.lang.String"/>
            <arg column="publisher" javaType="java.lang.String"/>
            <arg column="image_url" javaType="java.lang.String"/>
        </constructor>
    </resultMap>
    <select id="findAll" resultMap="productListMap">
        SELECT p.id, p.title, p.price, p.publish_date, p.author, p.publisher, p.image_url
        FROM product p
        JOIN sub_category sc ON p.sub_category_id = sc.id
        JOIN main_category mc ON sc.main_category_id = mc.id
        <where>
            <if test="subCategoryId != null and subCategoryId != ''">
                p.sub_category_id = #{subCategoryId}
            </if>
            <if test="mainCategoryId != null and mainCategoryId != ''">
                mc.id = #{mainCategoryId}
            </if>
            <if test="subCategoryName != null and subCategoryName != ''">
                sc.name = #{subCategoryName}
            </if>
            <if test="mainCategoryName != null and mainCategoryName != ''">
                mc.name = #{mainCategoryName}
            </if>
        </where>
        <choose>
            <when test="sort.toUpperCase() == 'RECENT'">
                ORDER BY p.publish_date DESC
            </when>
            <when test="sort.toUpperCase() == 'POPULAR'">
                ORDER BY p.sales DESC
            </when>
        </choose>
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="countAllWithParams" resultType="int">
        SELECT COUNT(*)
        FROM product p
        JOIN sub_category sc ON p.sub_category_id = sc.id
        <if test="mainCategoryId != null and mainCategoryId !=''">
            JOIN main_category mc ON sc.main_category_id = #{mainCategoryId}
        </if>
        <where>
            <if test="subCategoryId != null and subCategoryId != ''">
                p.sub_category_id = #{subCategoryId}
            </if>
            <if test="mainCategoryId != null and mainCategoryId != ''">
                mc.id = #{mainCategoryId}
            </if>
        </where>
    </select>

</mapper>