<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.bookstore.category.SubCategoryMapper">
    <insert id="insertSubCategory" parameterType="com.ezen.bookstore.uitls.SubCategoryJsonDTO">
        INSERT INTO sub_category (id, name, main_category_id)
        VALUES (#{id}, #{name}, #{main_category_id})
    </insert>
</mapper>